* {
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: system;
    src: url("Graphik-400-Regular.otf") format("opentype");
}
@font-face {
	font-family: sysi;
	src: url("ProductSans-Medium.ttf") format("truetype")
}
@font-face {
	font-family: avenir;
	src: url("AvenirLTStd-Book.otf") format("opentype")
}
body {
	background: #fff;
}
h1 {
	color: #34a853;
	font-family: sysi;
	font-size: 8vw;
	text-align: center;
	font-weight: 100;
	margin-bottom: 10px;
	
}
p {
	font-family: system !important;
	font-weight: 100;
	margin: 0;
	color: #5f6368;
	text-align: center;
	font-size: 18px;
	text-overflow: ellipsis;
	
}
span {
	font-size: 16px;
	font-family: system, Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: rgb(0, 0, 0);
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 10px;
}
a {
	font-size: 20px;
    line-height: 1.3;
	color: #000000;
	text-decoration: none;
}
.center {
	display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 100vh;
	
}
@media only screen and (max-width: 720px) {

	h1 { 
	   font-size: 12vw !important; 
	}
	p {
		font-size: 4vw;
		line-height: 1.3em;
	}
 
 }
 @media (min-width: 1024px) and (min-width: 1440px) {
	 h1 {
		 font-size: 6.5em !important;
	 }
 }